# Papildomos užduotys

## nr 2

1. Surasti didžiausią reikšmę esančia sąraše. Gautą reikšmę padalinti iš sąrašo narių sumos ir atspausdinti.

In [2]:
numbers = [3, 7, 1, 9, 4, 2]

# Ats: 0.34615384615384615
print( max(numbers) / sum( numbers ) )

0.34615384615384615

2. Turite sąrašą `fruits`, kuriame yra turimi vaisiai. Leisti vartotojui nurodyti norimą vaisių (naudoti input() ) ir atspausdinti ar vaisius yra sąraše.

In [7]:
fruits = ['apple', 'banana', 'orange', 'grapes', 'pineapple',]

user_fruit = input('Enter fruit: ')
print( user_fruit )
print( user_fruit in fruits )
print( user_fruit.lower() in fruits )

kiwi
False
False

3. Paklauskite vartotojo, kiek skaičių (1-100) nori panaudoti skaičiavimams. Iš `list_1` paimti vartotojo nurodytą skaičių kiekį (naudoti *slicing*) ir išsaugoti `selected_numbers` kintamajame. Paskaičiuoti ir atspausdinti `selected_numbers` sumą, vidutinę, minimalią ir maksimalią vertę

In [10]:
list_1 = [11, 23, 97, 10, 55, 46, 16, 72, 3, 72, 17, 29, 21, 48, 50, 4, 73, 44, 18, 30, 53, 95, 15, 69, 86, 39, 6, 89, 89, 2, 26, 54, 27, 39, 3, 69, 21, 62, 99, 11, 49, 58, 78, 53, 46, 50, 39, 100, 77, 41, 7, 10, 53, 33, 74, 78, 20, 41, 65, 9, 84, 11, 90, 65, 43, 78, 15, 49, 87, 48, 84, 31, 17, 17, 60, 47, 71, 7, 23, 56, 74, 45, 74, 17, 27, 52, 80, 26, 93, 14, 76, 28, 99, 3, 61, 67, 71, 24, 77, 74]

norimas_skaiciu_kiekis = int(input('Iveskite, kiek (is eiles einanciu) skaiciu norite panaudoti skaičiavimams [1-100]'))
selected_numbers = list_1[0:norimas_skaiciu_kiekis]
print(f'selected_numbers ({len(selected_numbers)}): {selected_numbers}')
print('Pasirinktu skaiciu suma:', sum(selected_numbers))
print('Pasirinktu skaiciu vidurkis:', sum(selected_numbers)/len(selected_numbers))
print('Maziausias pasirinktos imties skaicius:', min(selected_numbers))
print('Didziausias pasirinktos imties skaicius:', max(selected_numbers))

selected_numbers (10): [11, 23, 97, 10, 55, 46, 16, 72, 3, 72]
Pasirinktu skaiciu suma: 405
Pasirinktu skaiciu vidurkis: 40.5
Maziausias pasirinktos imties skaicius: 3
Didziausias pasirinktos imties skaicius: 97

## nr 3

1. Iš pirmų 100 skaičių, jeigu skaičius dalinasi iš 2 be liekanos, atspausdinkite `Fizz`, jeigu skaičius dalinasi iš 3 be liekanos atspausdinkite `Buzz`, jei skaičius dalinasi iš 2 ir 3 be liekanos, atspausdinkite `FizzBuzz`
Pvz:

1 - ''

2 - 'Fizz'

3 - 'Buzz'

4 - 'Fizz'

5 - ''

6 - 'FizzBuzz'

In [13]:
for number in range(1, 101):
    if number % 2 == 0 and number % 3 == 0:
        print(f'{number} - FizzBuzz')
    elif number % 2 == 0:
        print(f'{number} - Fizz')
    elif number % 3 == 0:
        print(f'{number} - Buzz')
    else:
        print(f'{number} -')

1 -
2 - Fizz
3 - Buzz
4 - Fizz
5 -
6 - FizzBuzz
7 -
8 - Fizz
9 - Buzz
10 - Fizz
11 -
12 - FizzBuzz
13 -
14 - Fizz
15 - Buzz
16 - Fizz
17 -
18 - FizzBuzz
19 -
20 - Fizz
21 - Buzz
22 - Fizz
23 -
24 - FizzBuzz
25 -
26 - Fizz
27 - Buzz
28 - Fizz
29 -
30 - FizzBuzz
31 -
32 - Fizz
33 - Buzz
34 - Fizz
35 -
36 - FizzBuzz
37 -
38 - Fizz
39 - Buzz
40 - Fizz
41 -
42 - FizzBuzz
43 -
44 - Fizz
45 - Buzz
46 - Fizz
47 -
48 - FizzBuzz
49 -
50 - Fizz
51 - Buzz
52 - Fizz
53 -
54 - FizzBuzz
55 -
56 - Fizz
57 - Buzz
58 - Fizz
59 -
60 - FizzBuzz
61 -
62 - Fizz
63 - Buzz
64 - Fizz
65 -
66 - FizzBuzz
67 -
68 - Fizz
69 - Buzz
70 - Fizz
71 -
72 - FizzBuzz
73 -
74 - Fizz
75 - Buzz
76 - Fizz
77 -
78 - FizzBuzz
79 -
80 - Fizz
81 - Buzz
82 - Fizz
83 -
84 - FizzBuzz
85 -
86 - Fizz
87 - Buzz
88 - Fizz
89 -
90 - FizzBuzz
91 -
92 - Fizz
93 - Buzz
94 - Fizz
95 -
96 - FizzBuzz
97 -
98 - Fizz
99 - Buzz
100 - Fizz

In [16]:
for number in range(1, 101):
     result = f'{number} - '
     if number % 2 == 0:
          result += 'Fizz'
     
     if number % 3 == 0:
          result += 'Buzz'
     
     print(result)

1 -
2 - Fizz
3 - Buzz
4 - Fizz
5 -
6 - FizzBuzz
7 -
8 - Fizz
9 - Buzz
10 - Fizz
11 -
12 - FizzBuzz
13 -
14 - Fizz
15 - Buzz
16 - Fizz
17 -
18 - FizzBuzz
19 -
20 - Fizz
21 - Buzz
22 - Fizz
23 -
24 - FizzBuzz
25 -
26 - Fizz
27 - Buzz
28 - Fizz
29 -
30 - FizzBuzz
31 -
32 - Fizz
33 - Buzz
34 - Fizz
35 -
36 - FizzBuzz
37 -
38 - Fizz
39 - Buzz
40 - Fizz
41 -
42 - FizzBuzz
43 -
44 - Fizz
45 - Buzz
46 - Fizz
47 -
48 - FizzBuzz
49 -
50 - Fizz
51 - Buzz
52 - Fizz
53 -
54 - FizzBuzz
55 -
56 - Fizz
57 - Buzz
58 - Fizz
59 -
60 - FizzBuzz
61 -
62 - Fizz
63 - Buzz
64 - Fizz
65 -
66 - FizzBuzz
67 -
68 - Fizz
69 - Buzz
70 - Fizz
71 -
72 - FizzBuzz
73 -
74 - Fizz
75 - Buzz
76 - Fizz
77 -
78 - FizzBuzz
79 -
80 - Fizz
81 - Buzz
82 - Fizz
83 -
84 - FizzBuzz
85 -
86 - Fizz
87 - Buzz
88 - Fizz
89 -
90 - FizzBuzz
91 -
92 - Fizz
93 - Buzz
94 - Fizz
95 -
96 - FizzBuzz
97 -
98 - Fizz
99 - Buzz
100 - Fizz

2. Leiskite vartotojui pasirinkti skaičių, jeigu įvestas skaičius yra daugiau arba lygus 10, einant per skaičius nuo 1 iki pasirinkto skaičiaus, atspausdinkite visus skaičius kurie dalinasi iš 5 su liekana

In [ ]:
# Ctrl + f

In [19]:
my_end_user_num = int(input('Pasirinkite skaiciu'))
if my_end_user_num>=10:
    print(f'Jusu pasirinktas skaicius - {my_end_user_num}, yra tinkamas')
    for num in range(1, my_end_user_num+1):
        if num % 5 != 0:
            print(f' {num} yra nedalus is 5')
else:
    print(f'Jusu pasirinktas skaicius - {my_end_user_num}, yra netinkamas')

Jusu pasirinktas skaicius - 15, yra tinkamas
 1 yra nedalus is 5
 2 yra nedalus is 5
 3 yra nedalus is 5
 4 yra nedalus is 5
 6 yra nedalus is 5
 7 yra nedalus is 5
 8 yra nedalus is 5
 9 yra nedalus is 5
 11 yra nedalus is 5
 12 yra nedalus is 5
 13 yra nedalus is 5
 14 yra nedalus is 5

3. Koks yra sąrašo ilgis sudaryto iš pateiktų sąrašų kombinacijų, jeigu norime rasti visas įmanomas reikšmes? Išrikiuokite sąrašą nuo didžiausios iki mažiausios reikšmės (teks atlikti papildomų veiksmų tam atlikti teisingai, naudoti viena iš 3 narių rikiavimui)

In [28]:
a = ['1','2','3','4','5']
b = ['labas', 'vakaras', 'kokia grazi diena', 'siandien uz lango', '10 laipsniu silumos']
c = ['100', '200', 40, 10]

c[0] = int(c[0])
c[1] = int(c[1])

kombinacijos = []
for val_1 in a:
    for val_2 in b:
        for val_3 in c:
            kombinacijos.append( [val_1, val_2, val_3] )

kombinacijos = sorted(kombinacijos, key=lambda x: x[2])
# print(kombinacijos)

[print (k) for k in kombinacijos]

['1', 'labas', 10]
['1', 'vakaras', 10]
['1', 'kokia grazi diena', 10]
['1', 'siandien uz lango', 10]
['1', '10 laipsniu silumos', 10]
['2', 'labas', 10]
['2', 'vakaras', 10]
['2', 'kokia grazi diena', 10]
['2', 'siandien uz lango', 10]
['2', '10 laipsniu silumos', 10]
['3', 'labas', 10]
['3', 'vakaras', 10]
['3', 'kokia grazi diena', 10]
['3', 'siandien uz lango', 10]
['3', '10 laipsniu silumos', 10]
['4', 'labas', 10]
['4', 'vakaras', 10]
['4', 'kokia grazi diena', 10]
['4', 'siandien uz lango', 10]
['4', '10 laipsniu silumos', 10]
['5', 'labas', 10]
['5', 'vakaras', 10]
['5', 'kokia grazi diena', 10]
['5', 'siandien uz lango', 10]
['5', '10 laipsniu silumos', 10]
['1', 'labas', 40]
['1', 'vakaras', 40]
['1', 'kokia grazi diena', 40]
['1', 'siandien uz lango', 40]
['1', '10 laipsniu silumos', 40]
['2', 'labas', 40]
['2', 'vakaras', 40]
['2', 'kokia grazi diena', 40]
['2', 'siandien uz lango', 40]
['2', '10 laipsniu silumos', 40]
['3', 'labas', 40]
['3', 'vakaras', 40]
['3', 'kokia grazi diena', 40]
['3', 'siandien uz lango', 40]
['3', '10 laipsniu silumos', 40]
['4', 'labas', 40]
['4', 'vakaras', 40]
['4', 'kokia grazi diena', 40]
['4', 'siandien uz lango', 40]
['4', '10 laipsniu silumos', 40]
['5', 'labas', 40]
['5', 'vakaras', 40]
['5', 'kokia grazi diena', 40]
['5', 'siandien uz lango', 40]
['5', '10 laipsniu silumos', 40]
['1', 'labas', 100]
['1', 'vakaras', 100]
['1', 'kokia grazi diena', 100]
['1', 'siandien uz lango', 100]
['1', '10 laipsniu silumos', 100]
['2', 'labas', 100]
['2', 'vakaras', 100]
['2', 'kokia grazi diena', 100]
['2', 'siandien uz lango', 100]
['2', '10 laipsniu silumos', 100]
['3', 'labas', 100]
['3', 'vakaras', 100]
['3', 'kokia grazi diena', 100]
['3', 'siandien uz lango', 100]
['3', '10 laipsniu silumos', 100]
['4', 'labas', 100]
['4', 'vakaras', 100]
['4', 'kokia grazi diena', 100]
['4', 'siandien uz lango', 100]
['4', '10 laipsniu silumos', 100]
['5', 'labas', 100]
['5', 'vakaras', 100]
['5', 'kokia grazi diena', 100]
['5', 'siandien uz lango', 100]
['5', '10 laipsniu silumos', 100]
['1', 'labas', 200]
['1', 'vakaras', 200]
['1', 'kokia grazi diena', 200]
['1', 'siandien uz lango', 200]
['1', '10 laipsniu silumos', 200]
['2', 'labas', 200]
['2', 'vakaras', 200]
['2', 'kokia grazi diena', 200]
['2', 'siandien uz lango', 200]
['2', '10 laipsniu silumos', 200]
['3', 'labas', 200]
['3', 'vakaras', 200]
['3', 'kokia grazi diena', 200]
['3', 'siandien uz lango', 200]
['3', '10 laipsniu silumos', 200]
['4', 'labas', 200]
['4', 'vakaras', 200]
['4', 'kokia grazi diena', 200]
['4', 'siandien uz lango', 200]
['4', '10 laipsniu silumos', 200]
['5', 'labas', 200]
['5', 'vakaras', 200]
['5', 'kokia grazi diena', 200]
['5', 'siandien uz lango', 200]
['5', '10 laipsniu silumos', 200]

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

# Tuple

In [29]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [30]:
print(my_tuple)
print(type(my_tuple))
print(len(my_tuple))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>
10

In [33]:
my_tuple + 5

TypeError: can only concatenate tuple (not "int") to tuple

In [36]:
my_tuple = my_tuple + (5, 5, 4)
print(my_tuple)
# my_tuple[-1] = 100 # negalite perrašyti narių

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 5, 5, 4, 5, 5, 4, 5, 5, 4)

TypeError: 'tuple' object does not support item assignment

In [39]:
print(my_tuple[10])
print(my_tuple[5:10])

5
(6, 7, 8, 9, 10)

In [42]:
print(my_tuple)
print(my_tuple.count(5))
print(my_tuple.index(5))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 5, 5, 4, 5, 5, 4, 5, 5, 4)
7
4

In [43]:
print (10 in my_tuple)

True

In [48]:
my_tuple = (1, 2, ['3', 4, 5], [6, [7, (8)] ] )
print (len(my_tuple) )
print (my_tuple[3])
print (my_tuple[3][1])
print (my_tuple[3][1][1])
print (my_tuple[-1][-1][-1])

4
[6, [7, 8]]
[7, 8]
8
8

In [56]:
this_is_also_tuple = 1,5,7
print (this_is_also_tuple)
print (type(this_is_also_tuple))

a, b, c = 1,5,7
print(a,b,c)
# a, *b = 1,5,7
# print(a,b)

(1, 5, 7)
<class 'tuple'>
1 5 7

In [52]:
this_is_NOT_tuple = (1)
print (this_is_NOT_tuple)
print (type(this_is_NOT_tuple))

this_is_IS_tuple = (1,)
print (this_is_IS_tuple)
print (type(this_is_IS_tuple))

1
<class 'int'>
(1,)
<class 'tuple'>

In [57]:
# 1 sprendimas
tuple2 = (11, [222, 33], 44, 55)
list_1 = list(tuple2)

list_1[1] = [222, 22]
list_1[1][1] = 22

tuple2 = tuple(list_1)
print(tuple2)

(11, [222, 22], 44, 55)

In [ ]:
# 2 sprendimas
tuple2 = (11, [222, 33], 44, 55)
list1 = list(tuple2)
list1[1][1] = 22
tuple1 = tuple(list1)
print(tuple2)

In [60]:
# 3 sprendimas
tuple1 = (11, [222, 33], 44, 55)
print(id(tuple1[1]))
tuple1[1][1] = 22
print(id(tuple1[1]))
# tuple1[1] = [222, 22] # error
print(tuple1)

1849846173248
1849846173248
(11, [222, 22], 44, 55)

In [61]:
tuple1 = (11, [222, 33], 44, 55)
tuple1[1].pop()
tuple1[1].append(22)
print(tuple1)

(11, [222, 22], 44, 55)

In [66]:
first_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

second_tuple = (2,4,5,8,9,10,15,2)

both_tuples = first_tuple + second_tuple
print(both_tuples)
my_list = list(both_tuples)
print(my_list)
my_list.pop()
print(my_list)
my_list = sorted(my_list)
print(my_list)
both_tuples = tuple(my_list)
print(both_tuples)
print(both_tuples.count(2))
print(max(both_tuples))
print(both_tuples[-1])

(1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 4, 5, 8, 9, 10, 15, 2)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 4, 5, 8, 9, 10, 15, 2]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 4, 5, 8, 9, 10, 15]
[1, 2, 2, 3, 4, 4, 5, 5, 6, 7, 8, 8, 9, 9, 10, 15]
(1, 2, 2, 3, 4, 4, 5, 5, 6, 7, 8, 8, 9, 9, 10, 15)
2
15
15

# None a.k.a null, nill

In [68]:
niekas = None
print(niekas)
print(type(niekas))

None
<class 'NoneType'>

In [69]:
my_list = [1,2,3,48,6849,10]
print(my_list.sort())
print(my_list)

None
[1, 2, 3, 10, 48, 6849]

In [72]:
vardas = ''

# ilgas kodas
if False:
    vardas = input('Iveskite varda: ')
print(vardas)

In [74]:
vardas = None

# ilgas kodas
# if False:
if True:
    vardas = input('Iveskite varda: ')
print(vardas)

# List comprehension

In [77]:
numbers = list(range(1,21) )
print(numbers)
# take numbers divisible by 3
divisble_by_3 = []
for number in numbers:
    if number % 3 == 0:
        divisble_by_3.append(number)

print(divisble_by_3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[3, 6, 9, 12, 15, 18]

In [80]:
divisble_by_3 = [number for number in numbers if number % 3 == 0]
print(divisble_by_3)
divisble_by_3_squared = [number**2 for number in numbers if number % 3 == 0]
print(divisble_by_3_squared)

numbers_multiply_2 = [number * 2 for number in numbers]
print(numbers_multiply_2)

[3, 6, 9, 12, 15, 18]
[9, 36, 81, 144, 225, 324]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [81]:
dividible_by_3 = [ number if number % 3 ==0 else f'{number} nesidalina is 3' for number in range(1,21) ]
print(dividible_by_3)

['1 nesidalina is 3', '2 nesidalina is 3', 3, '4 nesidalina is 3', '5 nesidalina is 3', 6, '7 nesidalina is 3', '8 nesidalina is 3', 9, '10 nesidalina is 3', '11 nesidalina is 3', 12, '13 nesidalina is 3', '14 nesidalina is 3', 15, '16 nesidalina is 3', '17 nesidalina is 3', 18, '19 nesidalina is 3', '20 nesidalina is 3']

# Dictionary

## DICTIONARY IS MUTABLE. BE CAREFULL

In [83]:
me = {
    # key: value
    'name': 'Tomas',
    'age': 25,
    'city': 'Vilnius'
}
print(me)

{'name': 'Tomas', 'age': 25, 'city': 'Vilnius'}

In [85]:
print(me[ 'name' ])
print(me[ 'age' ])

Tomas
25

In [87]:
me[ 'hobbies' ] = ['coding', 'reading', 'gaming']
print(me)
me[ 'age' ] = 27
print(me)

{'name': 'Tomas', 'age': 25, 'city': 'Vilnius', 'hobbies': ['coding', 'reading', 'gaming']}
{'name': 'Tomas', 'age': 27, 'city': 'Vilnius', 'hobbies': ['coding', 'reading', 'gaming']}

In [95]:
someone = {
    True: 'tiesa',
    False: 'melas',
    None: 'niekas',
    2: 'du',
}
print(someone)
print(someone[True])
print(someone[False])
print(someone[None])
print(someone[2])
# print(someone[3]) # Klaida KeyError - nera tokio rakto

{True: 'tiesa', False: 'melas', None: 'niekas', 2: 'du'}
tiesa
melas
niekas
du

KeyError: 3

In [97]:
zmones = [
    {'vardas': 'Jonas', 'amzius': 35},
    {'vardas': 'Petras', 'amzius': 50}
]
print(zmones)
for zmogus in zmones:
    print(zmogus)
    print(zmogus['vardas'])
    print(zmogus['amzius'])

[{'vardas': 'Jonas', 'amzius': 35}, {'vardas': 'Petras', 'amzius': 50}]
{'vardas': 'Jonas', 'amzius': 35}
Jonas
35
{'vardas': 'Petras', 'amzius': 50}
Petras
50

In [98]:
print(me)
print(len(me))

{'name': 'Tomas', 'age': 27, 'city': 'Vilnius', 'hobbies': ['coding', 'reading', 'gaming']}
4

In [100]:
me = {'name': 'Tomas', 'age': 27, 'city': 'Vilnius', 'hobbies': ['coding', 'reading', 'gaming']}
print(me)
# me.clear() # isvalo dict'a
del me['hobbies']
print(me)

{'name': 'Tomas', 'age': 27, 'city': 'Vilnius', 'hobbies': ['coding', 'reading', 'gaming']}
{'name': 'Tomas', 'age': 27, 'city': 'Vilnius'}

In [101]:
me = {'name': 'Tomas', 'age': 27, 'city': 'Vilnius', 'hobbies': ['coding', 'reading', 'gaming']}
me.pop('hobbies')
print(me)

{'name': 'Tomas', 'age': 27, 'city': 'Vilnius'}

In [103]:
me = {'name': 'Tomas', 'age': 27, 'city': 'Vilnius', 'hobbies': ['coding', 'reading', 'gaming']}
print( me.popitem() )
print( me.popitem() )
print( me )

('hobbies', ['coding', 'reading', 'gaming'])
('city', 'Vilnius')
{'name': 'Tomas', 'age': 27}

In [108]:
me = {'name': 'Tomas', 'age': 27, 'city': 'Vilnius', 'hobbies': ['coding', 'reading', 'gaming']}
# print( me['neegzistuojantis_raktas'] ) # KeyError
print( me.get('neegzistuojantis_raktas') ) # No error, returns None
print( me.get('neegzistuojantis_raktas', 'nerastas') ) # No error, returns 'nerastas'
print( me.get('neegzistuojantis_raktas', 0) ) # No error, returns 0
print( me.get('name', 0) ) # No error, returns 0

None
nerastas
0
Tomas

In [111]:
me = {'name': 'Tomas', 'age': 27, 'city': 'Vilnius', 'hobbies': ['coding', 'reading', 'gaming']}
# me['age'] = 29
print(me)
me.update( {'age': 28, 'city': 'Kaunas',} )
print(me)

{'name': 'Tomas', 'age': 27, 'city': 'Vilnius', 'hobbies': ['coding', 'reading', 'gaming']}
{'name': 'Tomas', 'age': 28, 'city': 'Kaunas', 'hobbies': ['coding', 'reading', 'gaming']}

In [114]:
# for key in me:
#     print(key)
# same
for key in me.keys():
    print(f'key is {key} and value is {me[key]}')

key is name and value is Tomas
key is age and value is 28
key is city and value is Kaunas
key is hobbies and value is ['coding', 'reading', 'gaming']

In [115]:
for value in me.values():
    print(value)

Tomas
28
Kaunas
['coding', 'reading', 'gaming']

In [116]:
# for key, value in me.items():
for k, v in me.items():
    print(f'key is {k} and value is {v}')

key is name and value is Tomas
key is age and value is 28
key is city and value is Kaunas
key is hobbies and value is ['coding', 'reading', 'gaming']

In [118]:
twitter_post = {
  "created_at": "Tue Feb 27 21:11:40 +0000 2018",
  "id": 968594506663669800,
  "id_str": "968594506663669760",
  "text": "RT @honeydrop_506: 180222 ICN #백현 #BAEKHYUNnn나의 겨울과 너nn#iHeartAwards #BestFanArmy #EXOL @weareoneEXO https://t.co/hg7I3xAlBg",
  "truncated": False,
  "in_reply_to_status_id": None,
  "in_reply_to_status_id_str": None,
  "in_reply_to_user_id": None,
  "in_reply_to_user_id_str": None,
  "in_reply_to_screen_name": None,
  "user": {
    "id": 4448809940,
    "id_str": "4448809940",
    "name": "ayah",
    "screen_name": "lovbyun",
    "location": "bbh iu jjh pcy kjd dks",
    "url": "https://curiouscat.me/baekhyun-l",
    "description": "hi hello I love exo",
    "translator_type": "none",
    "protected": False,
    "verified": False,
    "followers_count": 1142,
    "friends_count": 125,
    "listed_count": 20,
    "favourites_count": 5712,
    "statuses_count": 4011,
    "created_at": "Fri Dec 04 03:44:59 +0000 2015",
    "utc_offset": -28800,
    "time_zone": "Pacific Time (US & Canada)",
    "geo_enabled": False,
    "lang": "en",
    "contributors_enabled": False,
    "is_translator": False,
    "profile_background_color": "000000",
    "profile_background_image_url": "http://abs.twimg.com/images/themes/theme1/bg.png",
    "profile_background_image_url_https": "https://abs.twimg.com/images/themes/theme1/bg.png",
    "profile_background_tile": False,
    "profile_link_color": "F58EA8",
    "profile_sidebar_border_color": "000000",
    "profile_sidebar_fill_color": "000000",
    "profile_text_color": "000000",
    "profile_use_background_image": False,
    "profile_image_url": "http://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg",
    "profile_image_url_https": "https://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg",
    "profile_banner_url": "https://pbs.twimg.com/profile_banners/4448809940/1519340670",
    "default_profile": False,
    "default_profile_image": False,
    "following": None,
    "follow_request_sent": None,
    "notifications": None
  },
}

In [120]:
# from twitter_post get friends_count
print(twitter_post['user']['friends_count'])

125

In [124]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(car['brand'])
print(car.get('brand'))

print(len(car))
car['year'] = 2022
print(car)

Ford
Ford
3
{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}

In [127]:
car['color'] = 'red'
print(car)
car['used'] = True
print(car)
# car.update( {'color': 'red', 'used': True} ) # same

{'brand': 'Ford', 'model': 'Mustang', 'year': 2022, 'color': 'red', 'used': True}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2022, 'color': 'red', 'used': True}

In [131]:
# del car['brand']
car.pop('brand', None)
print(car)
car['year'] = None
print(car)

{'model': 'Mustang', 'year': 2022, 'color': 'red', 'used': True}
{'model': 'Mustang', 'year': None, 'color': 'red', 'used': True}

In [133]:
twitter_post = {
  "created_at": "Tue Feb 27 21:11:40 +0000 2018",
  "in_reply_to_screen_name": None,
  "user": {
    "id": 4448809940,
    "id_str": "4448809940",
    "name": "ayah",
    "screen_name": "lovbyun",
    "location": "bbh iu jjh pcy kjd dks",
    "url": "https://curiouscat.me/baekhyun-l",
    "profile_use_background_image": False,
    "profile_image_url": "http://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg",
    "profile_image_url_https": "https://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg",
    "profile_banner_url": "https://pbs.twimg.com/profile_banners/4448809940/1519340670",
    "default_profile": False,
    "default_profile_image": False,
    "following": None,
    "follow_request_sent": None,
    "notifications": None
  },
}
print(len(twitter_post))
print(len(twitter_post['user']))

3
15