# Lists

## mutable and immutable variables
https://medium.com/@meghamohan/mutable-and-immutable-side-of-python-c2145cf72747

In [7]:
# immutable
a = 1
b = a
c = 1
print('before')
print( id(a) )
print( id(b) )
print( id(c) )
b += 5
print( 'after')
print('a', a)
print('b', b)
print( id(a) )
print( id(b) )

before
140705386967888
140705386967888
140705386967888
after
a 1
b 6
140705386967888
140705386968048

In [9]:
# mutable
a = [1,2,3]
b = a
print('before')
print( id(a) )
print( id(b) )
b.append(5)
print( 'after')
print('a', a)
print('b', b)
print( id(a) )
print( id(b) )

before
2605656589448
2605656589448
after
a [1, 2, 3, 5]
b [1, 2, 3, 5]
2605656589448
2605656589448

In [10]:
# fix #1
a = [1,2,3]
b = a.copy()
print('before')
print( id(a) )
print( id(b) )
b.append(5)
print( 'after')
print('a', a)
print('b', b)
print( id(a) )
print( id(b) )

before
2605667777608
2605656235656
after
a [1, 2, 3]
b [1, 2, 3, 5]
2605667777608
2605656235656

In [12]:
# where fix #1 doesn't work
a = [1,2,['a', 'b', 'c'] ]
b = a.copy()
print('before')
print( id(a) )
print( id(b) )
b[-1].append('d')
print( 'after')
print('a', a)
print('b', b)
print( id(a) )
print( id(b) )
print( id(a[-1]) )
print( id(b[-1]) )

before
2605657147912
2605657147848
after
a [1, 2, ['a', 'b', 'c', 'd']]
b [1, 2, ['a', 'b', 'c', 'd']]
2605657147912
2605657147848
2605657147720
2605657147720

In [13]:
# fix #2 
import copy
a = [1,2,['a', 'b', 'c'] ]
b = copy.deepcopy( a )
print('before')
print( id(a) )
print( id(b) )
b[-1].append('d')
print( 'after')
print('a', a)
print('b', b)
print( id(a) )
print( id(b) )
print( id(a[-1]) )
print( id(b[-1]) )

before
2605656590600
2605657147592
after
a [1, 2, ['a', 'b', 'c']]
b [1, 2, ['a', 'b', 'c', 'd']]
2605656590600
2605657147592
2605667775880
2605656589960

# Range

In [21]:
print( range(10) )
print( type( range(10) ) )
print( list( range(10) ) )
# print( list( range(-5) ) )
print( list( range(5, 10) ) )
print( list( range(5, 10, 2) ) )
print( list( range(10, 200, 20) ) )
# range(start=0,stop, step=1)

range(0, 10)
<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[5, 7, 9]
[10, 30, 50, 70, 90, 110, 130, 150, 170, 190]

# For loop

In [34]:
cities = [
    'Vilnius',
    'Kaunas',
    'Klaipeda',
    'Siauliai'
]

# for <any_name> in <list/sequence>:
for city in cities:
    print (f'{city} yra nuostabus miestas!')
    print("vieno ciklo pabaiga")

print('pabaiga')
    # print("klaida")

Vilnius yra nuostabus miestas!
vieno ciklo pabaiga
Kaunas yra nuostabus miestas!
vieno ciklo pabaiga
Klaipeda yra nuostabus miestas!
vieno ciklo pabaiga
Siauliai yra nuostabus miestas!
vieno ciklo pabaiga
pabaiga

In [37]:
for x in cities:
    print (f'{x} yra nuostabus miestas!')
    print("vieno ciklo pabaiga")

Vilnius yra nuostabus miestas!
['Vilnius', 'Kaunas', 'Klaipeda', 'Siauliai']
vieno ciklo pabaiga
Kaunas yra nuostabus miestas!
['Vilnius', 'Kaunas', 'Klaipeda', 'Siauliai']
vieno ciklo pabaiga
Klaipeda yra nuostabus miestas!
['Vilnius', 'Kaunas', 'Klaipeda', 'Siauliai']
vieno ciklo pabaiga
Siauliai yra nuostabus miestas!
['Vilnius', 'Kaunas', 'Klaipeda', 'Siauliai']
vieno ciklo pabaiga

In [39]:
for number in range(11,34,3):
    print(f"{number} ^ 2 =",  number ** 2 )

11 ^ 2 = 121
14 ^ 2 = 196
17 ^ 2 = 289
20 ^ 2 = 400
23 ^ 2 = 529
26 ^ 2 = 676
29 ^ 2 = 841
32 ^ 2 = 1024

In [40]:
print(list(range(4)))

[0, 1, 2, 3]

In [42]:
# ciklas per indeksus
# range( len(cities) ) = range( 4 )
# i/idx = index
for idx in range( len(cities) ):
    print (f'{cities[idx]} yra nuostabus miestas!')
    print("vieno ciklo pabaiga")

Vilnius yra nuostabus miestas!
vieno ciklo pabaiga
Kaunas yra nuostabus miestas!
vieno ciklo pabaiga
Klaipeda yra nuostabus miestas!
vieno ciklo pabaiga
Siauliai yra nuostabus miestas!
vieno ciklo pabaiga

In [45]:
# Better way
for idx, city in enumerate( cities ):
    print (f'{city} yra nuostabus miestas! Jo indeksas yra {idx}' )
    print("vieno ciklo pabaiga")

Vilnius yra nuostabus miestas! Jo indeksas yra 0
vieno ciklo pabaiga
Kaunas yra nuostabus miestas! Jo indeksas yra 1
vieno ciklo pabaiga
Klaipeda yra nuostabus miestas! Jo indeksas yra 2
vieno ciklo pabaiga
Siauliai yra nuostabus miestas! Jo indeksas yra 3
vieno ciklo pabaiga

In [47]:
for skaicius in range(1, 11):
    print(skaicius)

1
4
9
16
25
36
49
64
81
100

In [49]:
suma = 0
for skaicius in range(1, 51):
    suma += skaicius
    # suma = suma + skaicius # tas pats
    print(f'skaicius {skaicius}, o suma {suma}')
print(suma)

skaicius 1, o suma 1
skaicius 2, o suma 3
skaicius 3, o suma 6
skaicius 4, o suma 10
skaicius 5, o suma 15
skaicius 6, o suma 21
skaicius 7, o suma 28
skaicius 8, o suma 36
skaicius 9, o suma 45
skaicius 10, o suma 55
skaicius 11, o suma 66
skaicius 12, o suma 78
skaicius 13, o suma 91
skaicius 14, o suma 105
skaicius 15, o suma 120
skaicius 16, o suma 136
skaicius 17, o suma 153
skaicius 18, o suma 171
skaicius 19, o suma 190
skaicius 20, o suma 210
skaicius 21, o suma 231
skaicius 22, o suma 253
skaicius 23, o suma 276
skaicius 24, o suma 300
skaicius 25, o suma 325
skaicius 26, o suma 351
skaicius 27, o suma 378
skaicius 28, o suma 406
skaicius 29, o suma 435
skaicius 30, o suma 465
skaicius 31, o suma 496
skaicius 32, o suma 528
skaicius 33, o suma 561
skaicius 34, o suma 595
skaicius 35, o suma 630
skaicius 36, o suma 666
skaicius 37, o suma 703
skaicius 38, o suma 741
skaicius 39, o suma 780
skaicius 40, o suma 820
skaicius 41, o suma 861
skaicius 42, o suma 903
skaicius 43, o suma 946
skaicius 44, o suma 990
skaicius 45, o suma 1035
skaicius 46, o suma 1081
skaicius 47, o suma 1128
skaicius 48, o suma 1176
skaicius 49, o suma 1225
skaicius 50, o suma 1275
1275

In [54]:
str_number = input("enter a number")
# print(str_number)
# print(type(str_number))
number = int(str_number)

for i in range(1, 11):
    print( i * number )

7
14
21
28
35
42
49
56
63
70

In [62]:
dienos = ['Pirmadienis', 'Antradienis', 'Treciadienis','Ketvirtadienis', 'Penktadienis', 'Sestadienis' , 'Sekmadienis']
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

kombinacijos = []

for diena in dienos:
    # print(diena)
    for valanda in valandos:
        # print(valanda)
        # print(diena, valanda)
        kombinacijos.append( [diena, valanda] )
        # print('antrojo ciklo pabaiga')
    # print('pirmojo ciklo pabaiga')


print(kombinacijos)
print(kombinacijos[5])

[['Pirmadienis', 10], ['Pirmadienis', 11], ['Pirmadienis', 12], ['Pirmadienis', 13], ['Pirmadienis', 14], ['Pirmadienis', 15], ['Pirmadienis', 16], ['Pirmadienis', 17], ['Pirmadienis', 18], ['Pirmadienis', 19], ['Antradienis', 10], ['Antradienis', 11], ['Antradienis', 12], ['Antradienis', 13], ['Antradienis', 14], ['Antradienis', 15], ['Antradienis', 16], ['Antradienis', 17], ['Antradienis', 18], ['Antradienis', 19], ['Treciadienis', 10], ['Treciadienis', 11], ['Treciadienis', 12], ['Treciadienis', 13], ['Treciadienis', 14], ['Treciadienis', 15], ['Treciadienis', 16], ['Treciadienis', 17], ['Treciadienis', 18], ['Treciadienis', 19], ['Ketvirtadienis', 10], ['Ketvirtadienis', 11], ['Ketvirtadienis', 12], ['Ketvirtadienis', 13], ['Ketvirtadienis', 14], ['Ketvirtadienis', 15], ['Ketvirtadienis', 16], ['Ketvirtadienis', 17], ['Ketvirtadienis', 18], ['Ketvirtadienis', 19], ['Penktadienis', 10], ['Penktadienis', 11], ['Penktadienis', 12], ['Penktadienis', 13], ['Penktadienis', 14], ['Penktadienis', 15], ['Penktadienis', 16], ['Penktadienis', 17], ['Penktadienis', 18], ['Penktadienis', 19], ['Sestadienis', 10], ['Sestadienis', 11], ['Sestadienis', 12], ['Sestadienis', 13], ['Sestadienis', 14], ['Sestadienis', 15], ['Sestadienis', 16], ['Sestadienis', 17], ['Sestadienis', 18], ['Sestadienis', 19], ['Sekmadienis', 10], ['Sekmadienis', 11], ['Sekmadienis', 12], ['Sekmadienis', 13], ['Sekmadienis', 14], ['Sekmadienis', 15], ['Sekmadienis', 16], ['Sekmadienis', 17], ['Sekmadienis', 18], ['Sekmadienis', 19]]
['Pirmadienis', 15]

# If statements

In [66]:
age = 35

print( age >= 18 )
if age >= 18:
    print('Yra daugiau metu nei 18')

print('pabaiga')

True
Yra daugiau metu nei 18
pabaiga

In [68]:
age = 15

print( age >= 18 )
if age >= 18:
    print('Yra daugiau metu nei 18')
else:
    print('Yra nepilnametis')

print('pabaiga')

False
Yra nepilnametis
pabaiga

In [71]:
age = 50

# elif = else if
if age >= 65:
    print('Yra daugiau metu nei 65')
elif age >= 30:
    print("amzius yra tarp 30 ir 65 metu")
else:
    print('Yra nepilnametis')

print('pabaiga')

amzius yra tarp 30 ir 65 metu
pabaiga

In [76]:
age = 70
if age >= 65:
    print('Yra daugiau metu nei 65')
if age >= 30:
    print("amzius yra tarp 30 ir 65 metu")

Yra daugiau metu nei 65
amzius yra tarp 30 ir 65 metu

In [81]:
age = 63

if age >= 60:
    print('Yra daugiau metu nei 60')
if age >= 30 and age <65:
    print("amzius yra tarp 30 ir 65 metu")
if age < 18:
    print('Yra nepilnametis')

Yra daugiau metu nei 60
amzius yra tarp 30 ir 65 metu

In [83]:
7 % 3

1

In [84]:
for num in range(1,21):
    if num % 3 == 0:
        print(f'{num} - dalinasi')

3 - dalinasi
6 - dalinasi
9 - dalinasi
12 - dalinasi
15 - dalinasi
18 - dalinasi

In [87]:
suma = 0

for num in range(1,51):
    if (suma + num) % 2 == 0:
        suma += num 
        print(f'skaicius {num}, tarpine suma: {suma}')

print(suma)

skaicius 2, tarpine suma: 2
skaicius 4, tarpine suma: 6
skaicius 6, tarpine suma: 12
skaicius 8, tarpine suma: 20
skaicius 10, tarpine suma: 30
skaicius 12, tarpine suma: 42
skaicius 14, tarpine suma: 56
skaicius 16, tarpine suma: 72
skaicius 18, tarpine suma: 90
skaicius 20, tarpine suma: 110
skaicius 22, tarpine suma: 132
skaicius 24, tarpine suma: 156
skaicius 26, tarpine suma: 182
skaicius 28, tarpine suma: 210
skaicius 30, tarpine suma: 240
skaicius 32, tarpine suma: 272
skaicius 34, tarpine suma: 306
skaicius 36, tarpine suma: 342
skaicius 38, tarpine suma: 380
skaicius 40, tarpine suma: 420
skaicius 42, tarpine suma: 462
skaicius 44, tarpine suma: 506
skaicius 46, tarpine suma: 552
skaicius 48, tarpine suma: 600
skaicius 50, tarpine suma: 650
650

In [91]:
user_number = int( input("enter a number") )

if (user_number ** 2) % 2 != 0:
    for num in range(1,11):
        print(f'{num} * {user_number} = {num * user_number}')
else:
    print(f'Skaicius {user_number} pakeltas kvadratu yra lyginis')

Skaicius 10 pakeltas kvadratu yra lyginis

In [95]:
dienos = ['Pirmadienis', 'Antradienis', 'Treciadienis','Ketvirtadienis', 'Penktadienis', 'Sestadienis' , 'Sekmadienis']
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

kombinacijos = []

for diena in dienos:
    # print(diena)
    if diena == 'Pirmadienis' or diena == 'Treciadienis':
        for valanda in valandos:
            if valanda >= 12 and valanda <= 17:
                kombinacijos.append( [diena, valanda] )
                # print('antrojo ciklo pabaiga')
    # print('pirmojo ciklo pabaiga')

print(kombinacijos)

[['Pirmadienis', 12], ['Pirmadienis', 13], ['Pirmadienis', 14], ['Pirmadienis', 15], ['Pirmadienis', 16], ['Pirmadienis', 17], ['Treciadienis', 12], ['Treciadienis', 13], ['Treciadienis', 14], ['Treciadienis', 15], ['Treciadienis', 16], ['Treciadienis', 17]]

In [97]:
dienos = ['Pirmadienis', 'Antradienis', 'Treciadienis','Ketvirtadienis', 'Penktadienis', 'Sestadienis' , 'Sekmadienis']
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

kombinacijos = []

tinkamos_dienos = ['Pirmadienis', 'Treciadienis', 'Penktadienis']
tinkamos_valandos = list(range(12, 18))

for diena in dienos:
    # print(diena)
    if diena in tinkamos_dienos:
        for valanda in valandos:
            if valanda in tinkamos_valandos:
                kombinacijos.append( [diena, valanda] )
                # print('antrojo ciklo pabaiga')
    # print('pirmojo ciklo pabaiga')

print(kombinacijos)

[['Pirmadienis', 12], ['Pirmadienis', 13], ['Pirmadienis', 14], ['Pirmadienis', 15], ['Pirmadienis', 16], ['Pirmadienis', 17], ['Treciadienis', 12], ['Treciadienis', 13], ['Treciadienis', 14], ['Treciadienis', 15], ['Treciadienis', 16], ['Treciadienis', 17], ['Penktadienis', 12], ['Penktadienis', 13], ['Penktadienis', 14], ['Penktadienis', 15], ['Penktadienis', 16], ['Penktadienis', 17]]