In [1]:
name = "Darius"

# kabutes
# sentence = 'I can't go'
# fix 1
sentence = "I can't go"
print(sentence)
# fix 2
sentence = 'I can\'t go'
print(sentence)
 
# Ctrl + /

I can't go
I can't go

In [2]:
print(surname)

NameError: name 'surname' is not defined

In [ ]:
surname = "Grigaliunas"

In [ ]:
# print(my_sentence) # klaida
my_sentence ="Hello"
print(my_sentence)

Hello

In [1]:
from modules.variables import name, number

print(number)

6

# Variable names

In [8]:
# BAD can't start with number, special symbols
# 2nd_number = 10
# &numbre =2

In [3]:
# BAD don't overwrite functions, reserved names
print( len('tekstas') )
# len = 10
len_2 = 10
print( len('tekstas') )

7
7

In [1]:
len('zodis')

5

In [8]:
MY_CONSTANT = 5
print( MY_CONSTANT )

# MY_CONSTANT = 10 # works but should not be overwritten 
print( MY_CONSTANT )

5
10

Style Guide for Python Code
https://peps.python.org/pep-0008

In [9]:
len( 'ilgis' )

5

In [15]:
name = 'Darius'
print( name.upper() )
print(name.lower() )
print(name)
name = name.upper() 
print(name)

DARIUS
darius
Darius
DARIUS

In [16]:
name.upper()
name.lower()

'darius'

In [23]:
text = 'today is a beautiful Day'
print (text.replace('beautiful', 'rainy') )
print (text)
print (text.replace('a', 'u') )
print (text.replace('day', 'u') )

today is a rainy Day
today is a beautiful Day
toduy is u beuutiful Duy
tou is a beautiful Day

# String

str methods: https://docs.python.org/3/library/stdtypes.html#string-methods

In [25]:
print(text)
text.replace('is', 'not')

today is a beautiful Day

'today not a beautiful Day'

In [37]:
text = 'today is a beautiful Day'
print( text.find('iful') )
print (text[16:20] )
text = 'today asdfadssdafasdfasafasdfsdfis not a beautiful Day'
print( text.find('iful') )
print (text[ text.find('iful'): text.find('iful') + len('iful') ] )

16
iful
46
iful

In [43]:
text = 'today asdfadssdafasdfasdgkfbwasdfaseisafasdfsdfis not a beautiful Day'
word_to_find = 'not'
# JavaScript - wordToFind
print (text.find(word_to_find))
print (text[ text.find(word_to_find): text.find(word_to_find) + len(word_to_find) ] )

7
not

In [48]:
name = "Darius"
surname = 'Grigaliunas'

print(name, surname)
print(name + ' ' + surname )
print('{} {}'.format(name, surname) )
print( f'{name} {surname}')

Darius Grigaliunas
Darius Grigaliunas
Darius Grigaliunas
Darius Grigaliunas

In [53]:
text = 'Python makes me really really happy! o'
print(text.capitalize())
print(text.upper())
print(text.replace('Python', 'PyThOn') ) # EOF -End Of File
print(text.replace('t', 'T').replace('o', 'O') ) # BAD

Python makes me really really happy! o
PYTHON MAKES ME REALLY REALLY HAPPY! O
PyThOn makes me really really happy! o
PyThOn makes me really really happy! O

In [57]:
text = 'Hello World, I am happy to learn Python!'
word_to_find = 'happy'

print (text.find(word_to_find))
print (text[ text.find(word_to_find): text.find(word_to_find) + len(word_to_find) ] )

print( text[24:26])

print (len(text))

18
happy
to
40

In [63]:
print ( 'word'.isdigit() )
print ( 'word45'.isdigit() )
print ( '45'.isdigit() )
print ( '45 '.isdigit() )
print ( '45 ' )
print ( '45 '.strip() )
print ( '45 '.strip().isdigit() )

False
False
True
False
45
45
True

In [64]:
text = "   Hello world World      "
print (text)
print (text.strip())

   Hello world World
Hello world World

f-string

In [73]:
name = "Darius"
surname = 'Grigaliunas'
weather = 'rainy'
number = 22
print('Hi Darius, it is nice to meet you. It is a rainy day')
print('Hi ' +   name + ', it is nice to meet you. It is a ' + weather + ' day')

print( f'Hi {name}, it is nice to meet you. It is a {weather} day. It is {number + 10} degrees outside' )
print( f'Hi {     name   }, it is nice to meet you. It is a {    weather} day. It is {number + 10} degrees outside' )

print( 'Hi {}, it is nice to meet you. It is a {} {} day'.format(name, weather, surname) )
# print(name, surname)
# print(name + ' ' + surname )
# print('{} {}'.format(name, surname) )
# print( f'{name} {surname}')

Hi Darius, it is nice to meet you. It is a rainy day
Hi Darius, it is nice to meet you. It is a rainy day
Hi Darius, it is nice to meet you. It is a rainy day. It is 32 degrees outside
Hi Darius, it is nice to meet you. It is a rainy day. It is 32 degrees outside
Hi Darius, it is nice to meet you. It is a rainy Grigaliunas day

In [77]:
print(name,surname,'Hello', sep='')
print(name,surname,'Hello', sep='GGGGGGGGG')

DariusGrigaliunasHello
DariusGGGGGGGGGGrigaliunasGGGGGGGGGHello

## string operations

In [78]:
'hello ' + 'world'

'hello world'

In [79]:
'Hello' - 'l' # doesn't work

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [80]:
'hi ' * 100

'hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi '

In [82]:
'hi ' / 100 # doesn't work

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [84]:
print( type( 'hi' ) )
print( type( name ) )

<class 'str'>
<class 'str'>

# Numbers

In [85]:
number = 153

float_number = 135.
float_number_2 = 135.15334

In [87]:
print( type(number) )
print( type(float_number) )
print( type(float_number_2) )

<class 'int'>
<class 'float'>
<class 'float'>

## operations

In [91]:
suma = number + float_number
print(f'{suma} yra {type(suma)}')
print(f'10 - 5 = {10 - 5}')
print(f'10 * 5 = {10 * 5}')
print(f'10 / 5 = {10 / 5}')
print(f'13 // 5 = {13 // 5}') # sveikoji dalis
print(f'18 // 5 = {18 // 5}')

288.0 yra <class 'float'>
10 - 5 = 5
10 * 5 = 50
10 / 5 = 2.0
13 // 5 = 2
18 // 5 = 3

In [95]:
print(f'18 % 5 = {18 % 5}') # liekancioji dalis - modulus
print(f'18 % 5 = {19 % 5}') # liekancioji dalis - modulus
print(f'20 % 5 = {20 % 5}')

18 % 5 = 3
18 % 5 = 4
20 % 5 = 0

In [103]:
print(f'2 ** 5 = {2 ** 5}') # kelimas laipsnius
print(f'3 ** 3 = {3 ** 3}')
print(f'16 ** 0.5 = {16 ** 0.5}')

2 ** 5 = 32
3 ** 3 = 27
16 ** 0.5 = 4.0

In [102]:
import math
math.sqrt(16)

4.0

In [109]:
c = 0
c = c + 1
print(c)
c += 1
c += 1
print(c)
c -= 1
print(c)
c *= 3
print(c)
c /= 6
print(c)

1
3
2
6
1.0

In [112]:
big_number = 1_000_000
big_number_2 = 1000000
print(big_number)
print(big_number_2)
big_number_2 == big_number

1000000
1000000

True

In [115]:
num_1 = 10.5
num_2 = 3.13
print(f'{num_1} - {num_2} = {num_1 - num_2}')
print(f'{num_1} * {num_2} = {num_1 * num_2}')
print(f'{num_1} / {num_2} = {num_1 / num_2}')
print(f'{num_1} // {num_2} = {num_1 // num_2}')
print(f'{num_1} % {num_2} = {num_1 % num_2}')

10.5 - 3.13 = 7.37
10.5 * 3.13 = 32.865
10.5 / 3.13 = 3.354632587859425
10.5 // 3.13 = 3.0
10.5 % 3.13 = 1.1100000000000003

In [117]:
dist_sun = 150_000_000 # same as dist_sun = 150000000
dist_moon = 384_000

speed_per_hour = 150

day = speed_per_hour * 24
month = day * 30
year = month * 12
minutes = speed_per_hour/60
seconds = minutes/60

print(f'Atstumas iki saules yra {dist_sun / dist_moon} kartu didesnis nei atstumas iki menulio ')

print(dist_moon/speed_per_hour)
print(dist_moon/day)
print(dist_moon/month)
print(dist_moon/year)
print(dist_moon/minutes)
print(dist_moon/seconds)

Atstumas iki saules yra 390.625 kartu didesnis nei atstumas iki menulio
2560.0
106.66666666666667
3.5555555555555554
0.2962962962962963
153600.0
9216000.0

In [118]:
365*28

10220

In [123]:
from datetime import datetime, date, time

birthday = datetime(1992,9,15)
print(birthday)
now = datetime.now()
print(now)
time_passed = now - birthday
print(time_passed)
print(time_passed.days)

1992-09-15 00:00:00
2023-09-28 21:07:48.791414
11335 days, 21:07:48.791414
11335

# Boolean (bool)

In [124]:
bool_1 = True
print(bool_1)
print(type(bool_1))

True
<class 'bool'>

In [ ]:
bool_2 = False

In [133]:
number = 1
print ( bool(number) )
print ( bool(100) )
print ( bool(0.1) )
print ( bool(0.00000000000000000001) )
print ( bool(-2) )
print ( bool(0)) 
# False tik 0

True
True
True
True
True
False

In [135]:
print ( bool('numbre') )
print ( bool(' ') )
print ( bool('0') )
print ( bool('') )
# False tik tuscias tekstas

True
True
True
False

In [137]:
print (2 > 5)
print (2 < 5)
print (5 > 5)
print (5 >= 5)
print (5 == 5)
print (10 == 5)

print ('nelygus')
print(10 != 5)
print(10 != 10)

False
True
False
True
True
False
nelygus
True
False

In [140]:
text = 'Hello world'
print ( 'w' in text )
print ( 'world' in text )
print ( 'World' in text )

True
True
False

In [145]:
print( True == bool(0.9) )
print( True == 1 )
print( False == 0 )
print( False == 0.1 )

True
True
True
False

In [147]:
print( not True )
print( not not True )

False
True

In [149]:
print ('and')
print (20 > 10 and 5 > 1)
print (20 > 10 and 5 > 10)
# print (True and False)
print ('or')
print (20 > 10 or 5 > 1)
print (20 > 10 or 5 > 10)
print (2 > 10 or 5 > 10)

and
True
False
or
True
True
False

![Alt text](image.png)